@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFFFFF1A;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D9C01B;
    border-radius: 8px;
}

@layer base {
    html {
        font-family: "Outfit", system-ui, sans-serif;
    }
}

.sidebarSvg svg path {
    @apply group-hover:fill-secondary-yellow duration-300
}

.categorySvg svg path {
    @apply group-hover:fill-dark-grey fill-main-white
}

.slick-dots {
    display: flex !important;
    gap: 8px !important;
    justify-content: center !important;
    bottom: 30px !important;
}

.slick-dots li button:before {
    display: none;
}
.slick-dots li {
    width: unset !important;
    height: 0!important;
    margin: 0 !important;
}

.slick-dots li button {
    position: relative;
    width: 6px !important;
    height: 6px !important;
    border-radius: 100%;
    background-color: rgba(202, 202, 202, 1) !important;
}

.slick-dots li.slick-active button {
    width: 20px !important;
    height: 6px !important;
    border-radius: 24px;
    background-color: rgba(255, 222, 0, 1) !important;
    transition: all .2s ease-in;
}

/* CALENDAR */

.rdrMonth {
    width: 382px !important;
    font-size: 14px;
}

@media (max-width: 1024px) {
  .rdrMonth {
    width: 319px !important;
  }
}

.rdrDays {
    gap: 6px 0;
}

.rdrCalendarWrapper {
    background-color: #1D1D1D !important;
}

.rdrDayNumber span {
    color: #8D8D8D !important;
}

.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span, .rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span, .rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span, .rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span {
    color: #0c0c0c !important;
}

.rdrDayDisabled {
    background-color: #262525 !important;
}

.rdrDayToday .rdrDayNumber span:after {
    background: none !important;
}

.rdrMonthAndYearPickers {
    justify-content: start !important;
    color: #FFFFFF !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    font-family: "Manrope", sans-serif;
    margin-left: 24px;
}

.rdrMonthAndYearWrapper {
    height: 50px !important;
}

.rdrSelected {
    background-color: #D9C01B !important;
}

.rdrSelected .span {
    color: #1D1D1D !important;
}

.rdrMonthAndYearPickers select {
    color: #FFFFFF !important;
}

.rdrMonthAndYearPickers select option {
    width: 120px !important;
    color: #1D1D1D !important;
}

.rdrMonthAndYearPickers {
    margin-left: 0 !important;
}