@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFFFFF1A;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D9C01B;
    border-radius: 8px;
}

@layer base {
    html {
        font-family: "Outfit", system-ui, sans-serif;
    }
}

.sidebarSvg svg path {
    @apply group-hover:fill-secondary duration-300
}

.slick-dots {
    display: flex !important;
    gap: 8px !important;
    justify-content: center !important;
    bottom: 30px !important;
}

.slick-dots li button:before {
    display: none;
}
.slick-dots li {
    width: unset !important;
    height: 0!important;
    margin: 0 !important;
}

.slick-dots li button {
    position: relative;
    width: 6px !important;
    height: 6px !important;
    border-radius: 100%;
    background-color: rgba(202, 202, 202, 1) !important;
}

.slick-dots li.slick-active button {
    width: 20px !important;
    height: 6px !important;
    border-radius: 24px;
    background-color: rgba(255, 222, 0, 1) !important;
    transition: all .2s ease-in;
}

